<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Home</title>
</head>

<body>
    {% extends "template.html" %}
    {% block content %}
    <article>
        <h1 id="tufte-css">A Proposal for Quasi-Open Research</h1>
        <p class="subtitle">last edited on 2020-04-15</p>
        <section>
            <h2 id="why">Just The Proposal</h2>
            <p>
                This piece is just the proposal for a system that will require work
                across many different areas.
            </p>
            <p>
                It is meant to share a vision for the future and define the problems
                that stand between us and said future.
            </p>
            <p>
                Thanks for reading,
                </br>
                Peter
            </p>

            <h2 id="why">Pockets of High-Value Educational Experiences</h2>
            <p>
                <span class="newthought">You can't learn everything on the internet.</span>
                A lot of folks would disagree. They might say "You can even learn Rocket Science if you wanted to".
                But what about after you've learned the physics and engineering of rockets.
                How do you get past the math and learn all the small bits that make SpaceX engineers and JPL scientists
                the best in the world?
                After all, building a projectile has plenty of problems that span
                many different areas of science. There are the teams who've

                <ul class="user-story-items">
                    <li>
                        built hyper efficent engines that pair with,
                    </li>
                    <li>
                        hardware and software that can track this 7.9 MPH object,
                    </li>
                    <li>
                        and are protected by materials that withstand extreme heats.
                    </li>
                </ul>

            </p>
            <p>
                There is a populist misunderstanding that human knowledge and learning has a much more shallow
                target, achieved once one knows the fundamentals of a system. This is not true.

                <label for="sn-proprietary-monotype-bembo" class="margin-toggle sidenote-number"></label>
                <input type="checkbox" id="sn-proprietary-monotype-bembo" class="margin-toggle" />
                <span class="sidenote">
                    A majority of the knowledge I believe isn't available to you is that which approaches
                    the boundaries of human knowledge.
                    <img src="{{ url_for('static',     filename='images/Learning.jpeg') }}">
                </span>

                To really learn in this space, requires
                I'm not suggesting this information belongs to humanity. After all, research is funded for a purpose and
                rewards are necessary. However, its 2020 and humans have put a lot of thought into how can we make
                quasi-open
                systems that enable the public to support projects in limited ways. One of the more successful examples
                has got
                to be Bug Bounties, which have enabled security experts to effectively to explore and play within the
                walled gardens
                of institutions. The practical experience one gains here enables adept researches to move ever closer
                towards expert status.
            </p>

            <p>
                So here is what I'm suggesting. A framework for research labs that lets them work effectively
                internally, but also
                opens up areas of their research to people like me who want to explore the boundaries of human knowledge
                but can't afford
                to leave their day job and actually enjoy their life.

                Einstein's story has been told many times. The fact that Einstein was able to go home and work on
                Theoretical Physics
                in his home was <u> an attribute of the problems he was working on and his methods </u>.
                <label for="sn-proprietary-monotype-bembo" class="margin-toggle sidenote-number"></label>
                <input type="checkbox" id="sn-proprietary-monotype-bembo" class="margin-toggle" />
                <span class="sidenote">
                    You could say that his "genius" enabled him to solve these without a formal environment and that
                    others could do the same today.
                    I would ask that person what types of problems they are working on that wouldn't dramatically
                    benefit from higher quality data.
                </span>

                But we've come far and we now need more infrastructure,
                support and collaboration to make progress. If these gardens are not opened up to some degree, many who
                love to explore the world
                but do not have the means will miss their opportunity to be Einstein.

            </p>

            <section>
                <h2 id="problems">Problems That Must Be Addressed</h2>

            </section>

        {% endblock %}

</body>

</html>
