
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Home</title>
</head>

<body>
    {% extends "template.html" %}
    {% block content %}

<p>Moved over to Roam as the generator for this site on this day.
    1. <a href=" /r/research-development "> Research &amp; Development </a>
    2. <a href=" /r/a-proposal-for-quasi-open-research "> A Proposal for Quasi-Open Research </a>
    3. <a href=" /r/model-monitoring-spec "> Model Monitoring Spec </a></p>

   {% endblock %}

</body>
</html>
