<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Home</title>
</head>

<body>
    {% extends "template.html" %}
    {% block content %}
    <article>
        <h1 id="tufte-css">Research & Development</h1>
        <p class="subtitle">by Peter</p>
        <section>
            <h2 id="topics-overview">To Listen To A Stranger</h2>

            <p>
                <span class="newthought"> To read my work, someone you know nothing about, </span> is a lot to ask of
                you. We all write for some reason or another. https://kouvaris.io exists to engage those curious about
                computation, music and life. I hope you find a few pieces that inspire you to create, just as other
                works has inspired this.
            </p>



            <h2 id="topics-overview">Recent Pieces of Work</h2>
            <p>
                <span class="newthought">The following writings are the most recent</span>, and as a result will be
                the most topical. Please feel free to find topics you enjoy as denoted by the color-coded pills.
                <ul class="menu">
                    <li>
                        <a href="{{ url_for('model_monitoring_post') }}">
                            Model Monitoring Spec published at 2020-04-13 10:59:53 PM
                        </a>
                        <!-- <br><button class="green-pill">Machine Learning Tool</button> -->
                    </li>

                    <!-- <li>About published at 2020-04-03 12:43:50 PM</li> -->
                </ul>
            </p>

            {% endblock %}

</body>

</html>