<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Home</title>
</head>

<body>
    {% extends "template.html" %}
    {% block content %}
    <article>
        <h1 id="tufte-css">Research & Development</h1>
        <p class="subtitle">by Peter Kouvaris</p>
        <section>
            <h2 id="topics-overview">Topics & Content</h2>
            Project work logs and project

            <h2 id="topics-overview">Recent Pieces of Work</h2>
            <p>
                <span class="newthought">The following writings are the most recent</span>, and as a result will be
                the most topical. Please feel free to find topics you enjoy as denoted by the color-coded pills.
                <ul class="menu">
                    <li>
                        <a href="{{ url_for('model_monitoring_post') }}">
                            Model Monitor published at 2020-04-03 12:43:50 PM
                        </a>
                        <br><button class="green-pill">Machine Learning Tool</button>
                    </li>

                    <li>About published at 2020-04-03 12:43:50 PM</li>
                </ul>
            </p>

            {% endblock %}

</body>

</html>